{% extends 'base.html' %}

{% block content %}
<h1>Presentes en la {{course.name}}</h1>

{% if attendances %}
  <table>
    <thead>
      <tr>
        <th>Nombre del estudiante</th>
        <th>Fecha</th>
        <th>¿Asistió?</th>
      </tr>
    </thead>
    <tbody>
      {% for attendance in attendances %}
        <tr>
          <td>{{ attendance.student.name }} {{ attendance.student.id }}</td>
          <td>{{ attendance.date }}</td>
          <td>
            {% if attendance.present == 1 %}
            Presente
            {%else%}
            Ausente
            {%endif%}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <p>No hay presentes registrados para esta materia.</p>
{% endif %}
{% endblock %}
