{% extends 'base.html' %}

{% block content %}
<h1>Editar estudiante</h1>
<form action="/student_edit/{{student_id}}" method="POST">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ student_id }}">
    {{ form.as_p }}
    <input type="submit" name="submit" value="Guardar cambios">
</form>
<form>
    <label for="course">Seleccione el curso:</label>
    <select name="course" id="course">
        {% for course in courses %}
        <option value={{ course.id }}>{{ course.name }}</option>
        {% endfor %}
    </select>
</form>
<button class="matriculate">Matricular</button>

<script>
    // Seleccionamos todos los botones que permiten marcar la asistencia
const buttons = document.querySelectorAll('.matriculate');

// Agregamos un event listener a cada botón
for (let i = 0; i < buttons.length; i++) {
  buttons[i].addEventListener('click', function() {

    // Definimos los datos necesarios para marcar la asistencia
    // obtener la URL actual
    const url = window.location.href;
    // dividir la URL en partes utilizando el carácter "/"
    const parts = url.split('/');
    // tomar la última parte que representa el ID del estudiante
    const studentId = parts[parts.length - 1];
    // imprimir el ID del estudiante para pruebas
    console.log(studentId);

    // Obtener el elemento <select> por su id
    const selectElement = document.getElementById('course');
    // Obtener el valor seleccionado del <select>
    const courseId = parseInt(selectElement.value);
    // Imprimir el valor seleccionado para verificar
    console.log(courseId);
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    // Creamos una petición HTTP POST
    const request = new XMLHttpRequest();
    request.open('POST', '/matriculate');
    request.setRequestHeader('X-CSRFToken', csrftoken);
    request.setRequestHeader('Accept', 'application/json');

    // Creamos un objeto FormData con los datos de la asistencia
    const formData = new FormData();
    formData.append('course_id', courseId);
    formData.append('student_id', studentId);
    // por alguna razon que todavia no entiendo: la fecha se agrega automaticamente con la fecha de la computadora
    // en el archivo models hay un parametro que podria indicar esto pero al sacarlo y realizar la migracion, no cambia ese funcionamiento 
    formData.append('present', 'True');

    // Enviamos la petición con los datos de la asistencia
    request.send(formData);
    });
  }
  </script>
{% endblock %}